{% extends "base.html" %}

{% block content %}
  <h1>Task manager home</h1>
        <h3>Task manager content:</h3>
        <ul>
          <li>num_positions: {{ num_positions }}</li>
          <li>num_workers: {{ num_workers }}</li>
          <li>num_tasks_type: {{ num_tasks_type }}</li>
          <li>num_tasks: {{ num_tasks }}</li>
        </ul>

  <hr>
  <p>
    You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.
    {% if last_visit %}
      Last visited on {{ last_visit }}
      {% else %}
      We are pleased to welcome a new visitor:)
    {% endif %}
  </p>
{% endblock %}
