<ul class="sidebar-nav">
  {% if user.is_authenticated %}
    <li>{{ user.first_name }} {{ user.last_name }}</li>
    <li><a href="{%  url 'logout' %}">Logout</a></li>
  {% else %}
    <li><a href="{%  url 'login' %}">Login</a></li>
  {% endif %}

  <br>
  <li><a href="{% url 'manager:index' %}">Home</a></li>
  <li><a href="{% url 'manager:position-list' %}">All positions</a></li>
  <li><a href="{% url 'manager:worker-list' %}">All workers</a></li>
  <li><a href="{% url 'manager:task-type-list' %}">All task types</a></li>
  <li><a href="{% url 'manager:task-list' %}">All tasks</a></li>
</ul>
